@import 'tailwindcss';

@font-face {
  font-family: 'TAN Nimbus';
  src: url('/fonts/TAN-Nimbus.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-festival-purple: #7758d4;
  --color-festival-yellow: #ffc534;
  --color-festival-cream: #fbf2e9;

  --font-heading: 'TAN Nimbus', serif;
  --font-body: 'Montserrat', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-heading);
  }
}
